.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(to top blue red);
  padding: 1rem;
  font-family: Montserrat, sans-serif;
  text-align: center;
}

.main img {
  max-width: 90%;
}
